body {
	font-size: 12px;
}


#playingarea {

}


#dealerarea {
	width: 400px;
	height: 100px;
	background-color: #FFF2E1;
	border: 1px solid black;
}

#playerarea {
	width: 400px;
	height: 150px;
	background-color: #FFF2E1;
	border: 1px solid black;
}

.button {
	display: block;
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 30px;
	background-color: #B4DAFC;
	border-radius: 10px;
	text-align: center;
	font-size: 24px;
}

.cardsarea {
	font-size: 30px;
}

#playercards {
	font-size: 30px;	
}

#dealercards {
	font-size: 30px;	
}

.card {

}

.fineprint {
	font-size: 16px;
}

#score {
	font-size: 16px;
	position: absolute;
}

.scoretext {
	margin-left: 15px;
}

#winmsg {
	font-size: 16px;
	color: red;
	margin-left: -300px;
	margin-top: 10px;
}